#viewer {
    border: none;
    background: #fff;
    width: 100%;
    height: 100%;
}

.controll {
    background: var(--toolbar-bg-color);
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex: 0 0 27px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
}

.progress {
    border: 1px solid rgb(194, 194, 194);
    background: #fff;
    width: 800px;
    height: 16px;
}
