* {
    margin: 0;
    padding: 0;
}

:root {
    height: 100%;
    overflow: hidden;
}

:root {
    --accent-color: #1a73e8;
    --accent-fg-color: #1a73e8;
    --accent-color-hover: #3b86e8;
    --active-control-bg-color: #5a5a5a;
    --focus-bg-color: hsl(214, 40%, 92%);
    --input-validation-error: #db1600;
    --toolbar-bg-color: #f3f3f3;
    --toolbar-hover-bg-color: #eaeaea;
    --selection-fg-color: white;
    --selection-inactive-fg-color: #5a5a5a;
    --selection-inactive-bg-color: #dadada;
    --tab-selected-fg-color: #333;
    --tab-selected-bg-color: var(--toolbar-bg-color);
    --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2),
        0 2px 6px rgba(0, 0, 0, 0.1);
    --divider-color: #d0d0d0;
    --focus-ring-inactive-shadow: 0 0 0 1px #e0e0e0;
    --item-selection-bg-color: #cfe8fc;
    --item-selection-inactive-bg-color: #e0e0e0;
}

.-theme-with-dark-background {
    --accent-color: #0e639c;
    --accent-fg-color: #cccccc;
    --accent-color-hover: rgb(17, 119, 187);
    --active-control-bg-color: #cdcdcd;
    --focus-bg-color: hsl(214, 19%, 27%);
    --toolbar-bg-color: #333333;
    --toolbar-hover-bg-color: #202020;
    --selection-fg-color: #cdcdcd;
    --selection-inactive-fg-color: #cdcdcd;
    --selection-inactive-bg-color: hsl(0, 0%, 28%);
    --tab-selected-fg-color: #eaeaea;
    --tab-selected-bg-color: black;
    --drop-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2),
        0 2px 4px 2px rgba(0, 0, 0, 0.2), 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    --divider-color: #525252;
    --focus-ring-inactive-shadow: 0 0 0 1px #5a5a5a;
    --item-selection-bg-color: hsl(207, 88%, 22%);
    --item-selection-inactive-bg-color: #454545;
}

:root {
    --focus-ring-active-shadow: 0 0 0 1px var(--accent-color);
    --selection-bg-color: var(--accent-color);
    --divider-border: 1px solid var(--divider-color);
    --item-hover-color: rgba(56, 121, 217, 0.1);
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    cursor: default;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande',
        sans-serif;
    font-size: 12px;
    tab-size: 4;
    -webkit-user-select: none;
    color: #222;
    background: white;
}

.flex-auto {
    flex: auto;
}

.flex-none {
    flex: none;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow-auto {
    overflow: auto;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17, 85, 204);
}

.panel {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: white;
}

.panel-sidebar {
    overflow-x: hidden;
    background-color: var(--toolbar-bg-color);
}

/*  */
.table {
    font-size: 12px;
    color: rgb(89, 94, 94);
}
.table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    overflow: hidden;
    padding-right: 0px;
    width: 1623px;
    /* border-bottom: 2px solid rgb(194, 194, 194); */
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
    padding: 2px;
}

.table-column {
    flex: 0 1 70px;
    min-width: 70px;
}

.table-body {
}

.table-row:nth-of-type(odd) {
    background: #fff;
}

.table-row {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-row:hover {
    background: rgba(103, 58, 184, 0.1);
}
