.filter-bar {
    background-color: var(--toolbar-bg-color);
    flex: none;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: var(--divider-border);
}

.filter-text-filter {
    display: inline-flex;
    margin-left: 1px;
    margin-right: 2px;
    min-width: 40px;
    max-width: 200px;
    height: 24px;
    align-items: center;
}

.filter-bitset-filter {
    padding: 2px;
    display: inline-flex;
    overflow: hidden;
    height: 24px;
    position: relative;
    margin: 0;
}

.filter-bitset-filter span {
    display: inline-block;
    flex: none;
    margin: auto 2px;
    padding: 3px;
    background: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    border-radius: 6px;
    overflow: hidden;
}

.filter-bitset-filter span[data-keyboard-focus='true'] {
    outline: -webkit-focus-ring-color auto 5px;
}

.filter-bitset-filter-divider {
    background-color: #ccc;
    height: 16px;
    width: 1px;
    margin: auto 2px;
    display: inline-block;
}

.filter-bitset-filter span.selected,
.filter-bitset-filter span:hover,
.filter-bitset-filter span:active {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

.filter-bitset-filter span:hover {
    background: rgba(0, 0, 0, 0.2);
}

.filter-bitset-filter span.selected {
    background: rgba(0, 0, 0, 0.3);
}

.filter-bitset-filter span:active {
    background: rgba(0, 0, 0, 0.5);
}

.filter-checkbox-filter {
    padding-left: 4px;
    padding-right: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    vertical-align: middle;
    height: 24px;
    position: relative;
}

.filter-checkbox-filter > [is='dt-checkbox'] {
    display: flex;
    margin: auto 0;
}

.filter-input-field {
    margin: 0 3px;
    padding-left: 3px;
    width: 163px;
    height: 18px;
    line-height: 20px;
    display: inline-block;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
    cursor: auto;
}

.filter-input-field:hover {
    box-shadow: var(--focus-ring-inactive-shadow);
}

.filter-input-field:focus,
.filter-input-field:not(:empty) {
    box-shadow: var(--focus-ring-active-shadow);
}
