.panel.network .toolbar {
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
}

.network-details-view {
    background: rgb(203, 203, 203);
}

.network-details-view-tall-header {
    border-top: 4px solid var(--toolbar-bg-color);
}

.network-item-view {
    display: flex;
    background: white;
}

.network-item-preview-toolbar {
    border-top: 1px solid #ccc;
    background-color: #eee;
}

.resource-timing-view {
    display: block;
    margin: 6px;
    color: rgb(30%, 30%, 30%);
}

.resource-timing-table {
    width: 100% !important;
}

#network-overview-panel {
    flex: none;
    position: relative;
}

#network-overview-container {
    overflow: hidden;
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #cdcdcd;
}

#network-overview-container canvas {
    width: 100%;
    height: 100%;
}

#network-overview-grid .resources-dividers-label-bar {
    pointer-events: auto;
}

.network .network-overview {
    flex: 0 0 60px;
}

.network-overview .resources-dividers-label-bar {
    background-color: rgba(255, 255, 255, 0.95);
}

.network-overview .resources-dividers-label-bar .resources-divider {
    background-color: transparent;
}

.network-overview .resources-dividers {
    z-index: 250;
}

.request-view.html iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.network-film-strip {
    border-bottom: solid 1px #cdcdcd;
    flex: none !important;
}

.network-film-strip-placeholder {
    flex-shrink: 0;
}

.network-tabbed-pane {
    background-color: var(--toolbar-bg-color);
}

.network-settings-pane {
    flex: none;
    background-color: var(--toolbar-bg-color);
}

.network-settings-pane .toolbar {
    flex: 1 1;
}

.network-toolbar-container {
    display: flex;
    flex: none;
}

.network-toolbar-container > :first-child {
    flex: 1 1 auto;
}

#network-container {
    border: 1px solid rgb(204, 204, 204);
    overflow: hidden;
}

.network-summary-bar {
    flex: 0 0 27px;
    line-height: 27px;
    padding-left: 5px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: text;
}

.panel.network .toolbar.network-summary-bar {
    border-bottom: 0px;
}

.network-summary-bar span[is='dt-icon-label'] {
    margin-right: 6px;
}

.network-summary-bar > * {
    flex: none;
}

.network-log-grid.data-grid {
    border: none !important;
    flex: auto;
}

.network-log-grid.data-grid.no-selection[data-keyboard-focus='true']:focus {
    border: none !important;
}

#network-container {
    border: 1px solid rgb(204, 204, 204);
}

#network-container.no-node-selected:focus-within {
    border: 1px solid var(--accent-color);
}

.network-log-grid {
    --network-grid-default-color: rgba(255, 255, 255, 1);
    --network-grid-stripe-color: rgba(245, 245, 245, 1);
    --network-grid-navigation-color: rgba(221, 238, 255, 1);
    --network-grid-hovered-color: rgba(235, 242, 252, 0.7);
    --network-grid-initiator-path-color: rgba(58, 217, 58, 0.4);
    --network-grid-initiated-path-color: rgba(217, 58, 58, 0.4);
    --network-grid-selected-color: rgba(219, 219, 219, 0.6);
    --network-grid-focus-selected-color: var(--selection-bg-color);
    --network-grid-from-frame-color: rgba(224, 247, 250, 0.4);
    --network-grid-is-product-color: rgba(255, 252, 225, 0.6);
}

.-theme-with-dark-background .network-log-grid {
    --network-grid-default-color: rgba(36, 36, 36, 1);
    --network-grid-stripe-color: rgba(41, 41, 41, 1);
    --network-grid-navigation-color: rgba(221, 238, 255, 1);
    --network-grid-hovered-color: rgba(20, 37, 63, 0.7);
    --network-grid-initiator-path-color: rgba(58, 217, 58, 0.4);
    --network-grid-initiated-path-color: rgba(217, 58, 58, 0.4);
    --network-grid-selected-color: rgba(57, 57, 57, 0.6);
    --network-grid-focus-selected-color: var(--selection-bg-color);
    --network-grid-from-frame-color: rgba(224, 247, 250, 0.4);
    --network-grid-is-product-color: rgba(255, 252, 225, 0.6);
}

.network-log-grid.data-grid table.data {
    background: transparent;
}

.network-log-grid.data-grid td {
    height: 41px;
    border-left: 1px solid #e1e1e1;
    vertical-align: middle;
}

.network-log-grid.data-grid .corner {
    display: none;
}

.network-log-grid.data-grid.small td {
    height: 21px;
}
.network-waterfall-header,
.network-log-grid.data-grid th {
    border-bottom: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
}
.network-log-grid.data-grid table.data th {
    border-bottom: none;
}

.network-waterfall-header,
.network-log-grid.data-grid .header-container {
    height: 31px;
    background-color: var(--toolbar-bg-color);
}

.network-log-grid.data-grid .data-container {
    top: 31px;
}

.network-waterfall-header.small,
.network-log-grid.data-grid.small .header-container {
    height: 27px;
}
.network-log-grid.data-grid.small .data-container {
    top: 27px;
}

.network-log-grid.data-grid select {
    -webkit-appearance: none;
    border: none;
    width: 100%;
    color: inherit;
}
.network-log-grid.data-grid .name-column {
    cursor: pointer;
}

.network-log-grid.data-grid .waterfall-column {
    padding: 1px 0;
}

.network-log-grid.data-grid .waterfall-column .sort-order-icon-container {
    right: 15px;
    pointer-events: none;
}

.network-log-grid.data-grid th.sortable:active {
    background-image: none !important;
}
.network-cell-subtitle {
    font-weight: normal;
    color: gray;
}

.network-badge {
    margin-right: 4px;
}

.network-error-row,
.network-error-row .network-cell-subtitle,
.network-log-grid.data-grid tr.selected.network-error-row,
.network-log-grid.data-grid
    tr.selected.network-error-row
    .network-cell-subtitle,
.network-log-grid.data-grid tr.selected.network-error-row .network-dim-cell {
    color: rgb(230, 0, 0) !important;
}

.network-log-grid.data-grid:focus tr.selected.network-error-row,
.network-log-grid.data-grid:focus
    tr.selected.network-error-row
    .network-cell-subtitle,
.network-log-grid.data-grid:focus
    tr.selected.network-error-row
    .network-dim-cell {
    background: hsl(0, 100%, 97%) !important;
    color: rgb(230, 0, 0) !important;
}
.initiator-column .devtools-link {
    color: inherit;
}

.network-log-grid.data-grid tr.selected,
.network-log-grid.data-grid tr.selected .network-cell-subtitle,
.network-log-grid.data-grid tr.selected .network-dim-cell {
    color: inherit;
}

.network-log-grid.data-grid:focus tr.selected,
.network-log-grid.data-grid:focus tr.selected .network-cell-subtitle,
.network-log-grid.data-grid:focus tr.selected .network-dim-cell {
    color: var(--selection-fg-color);
}

.network-log-grid tr.highlighted-row {
    -webkit-animation: network-row-highlight-fadeout 2s 0s;
}

@-webkit-keyframes network-row-highlight-fadeout {
    from {
        background-color: rgba(255, 255, 120, 1);
    }
    to {
        background-color: rgba(255, 255, 120, 0);
    }
}

.network-header-subtitle {
    color: gray;
}

.network-log-grid.data-grid.small .network-cell-subtitle,
.network-log-grid.data-grid.small .network-header-subtitle {
    display: none;
}

#network-container:not(.brief-mode) .data-container {
    overflow: hidden;
}

.network-log-grid.data-grid .resources-dividers {
    z-index: 0;
}

.network-log-grid.data-grid .resources-dividers-label-bar {
    background-color: transparent;
    border: none;
    height: 30px;
    pointer-events: none;
}
