<div class="console-container">
    <div class="tabs" layout="row">
        <div class="tab no-outline" ng-class="{'active': selectedTab === TAB_INDEX.CONSOLE }" ng-click="selectTab(TAB_INDEX.CONSOLE)">Console</div>
        <div class="tab no-outline" ng-class="{'active': selectedTab === TAB_INDEX.NETWORK }" ng-click="selectTab(TAB_INDEX.NETWORK)">Network</div>
    </div>
    <div class="content-container">
        <div class="console-content" ng-show="selectedTab === 0">
            <div class="filters-container" layout="row">
                <input class="filter-input no-outline" ng-model="searchLog" ng-change="searchChanged()" type="text" placeholder="Search">
                <div layout="row" layout-align="start center">
                    <div ng-click="toggleFilter(EVENT_TYPE.CONSOLE_LOG)"
                         class="filter-type no-outline"
                         ng-class="{'active' : logTypes[EVENT_TYPE.CONSOLE_LOG]}">
                        Info
                    </div>
                    <div ng-click="toggleFilter(EVENT_TYPE.CONSOLE_DEBUG)"
                         class="filter-type no-outline"
                         ng-class="{'active' : logTypes[EVENT_TYPE.CONSOLE_DEBUG]}">
                        Debug
                    </div>
                    <div ng-click="toggleFilter(EVENT_TYPE.CONSOLE_WARN)"
                         class="filter-type no-outline"
                         ng-class="{'active' : logTypes[EVENT_TYPE.CONSOLE_WARN]}">
                        Warn
                    </div>
                    <div ng-click="toggleFilter(EVENT_TYPE.CONSOLE_ERROR)"
                         class="filter-type no-outline"
                         ng-class="{'active' : logTypes[EVENT_TYPE.CONSOLE_ERROR]}">
                        Error
                    </div>
                </div>
            </div>
            <md-virtual-repeat-container class="logs-container">
                <div md-virtual-repeat="log in (filteredLogs = (transformedLogs | filter: { searchLabel: searchLog } | activityTypesFilter: logTypes))">
                    <console-log log="log"
                                 is-executed="lastPlayedActivityIndex >= log.activityIndex"
                                 is-selected="selectedLogIndex === log.activityIndex"
                                 on-log-toggle="onLogToggle"
                                 select-log="selectLog(log)">
                    </console-log>
                </div>
            </md-virtual-repeat-container>
        </div>
        <div class="network-content" ng-show="selectedTab === 1">
            <div class="filters-container" layout="row">
                <input class="filter-input no-outline" ng-model="searchNetworkRequest" type="text" placeholder="Search">
                <div layout="row" layout-align="start center">
                    <div ng-repeat="(networkType, active) in networkTypes" class="filter-type no-outline active">
                         {{ networkType | uppercase }}
                    </div>
                    <div class="filter-type no-outline">
                         WS Coming Soon
                    </div>
                </div>
            </div>
            <div layout="row" class="requests-content">
                <div layout="column" flex>
                    <!-- Table header -->
                    <div layout="row" layout-align="start center" class="network-requests-header">
                        <span class="title" flex="80"> Name </span>
                        <span class="title" flex="10"> Status </span>
                        <span class="title" flex="10"> Time </span>
                    </div>

                    <!-- Requests -->
                    <div layout="column">
                        <md-virtual-repeat-container class="network-requests-container">
                            <div md-virtual-repeat="activity in (filteredNetworkRequests = networkRequests | filter: { details: {request: {url: searchNetworkRequest}}})">
                                <network-request network-request="activity"
                                                 select-network-request="selectNetworkRequest"
                                                 show-network-request-details="showNetworkRequestDetails(activity)"
                                                 is-executed="lastPlayedActivityIndex >= activity.activityIndex"
                                                 is-selected="selectedLogIndex === activity.activityIndex"
                                                 is-expanded="networkRequestDetails === activity.details.request">
                                </network-request>
                            </div>
                        </md-virtual-repeat-container>
                    </div>
                </div>

                <!-- Details -->
                <div layout="column" ng-show="networkRequestDetails" class="network-request-details" flex="40">
                    <div layout="row" class="details-tabs">
                        <img src="images/close.svg" class="close-details" ng-click="closeExpandedNetworkRequest()">
                        <span class="tab">Headers</span>
                    </div>
                    <div layout="column" class="details-container">
                        <div class="headers-sections">
                            <!-- General -->
                            <div class="header-section">
                                <div class="section-title-row no-outline" layout="row" layout-align="start center" ng-click="toggleGeneralDetails()">
                                    <img class="section-title-arrow" ng-src="{{areGeneralDetailsExpanded ? 'images/expanded-arrow.svg' : 'images/collapsed-arrow.svg'}}">
                                    <div class="section-title"> General </div>
                                </div>
                                <div class="section-data-container" ng-show="areGeneralDetailsExpanded">
                                    <div class="section-data" layout="row">
                                        <span class="section-data-title"> Request URL: </span>
                                        <span class="section-data-value" flex> {{ networkRequestDetails.url }} </span>
                                    </div>
                                    <div class="section-data" layout="row">
                                        <span class="section-data-title"> Request Method: </span>
                                        <span class="section-data-value" flex> {{ networkRequestDetails.method | uppercase }} </span>
                                    </div>
                                    <div class="section-data" layout="row">
                                        <span class="section-data-title"> Status Code: </span>
                                        <span class="section-data-value" flex> {{ networkRequestDetails.statusCode }} </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Response headers -->
                            <div class="header-section">
                                <div class="section-title-row no-outline" layout="row" layout-align="start center" ng-click="toggleResponseHeaders()">
                                    <img class="section-title-arrow" ng-src="{{areResponseHeadersExpanded ? 'images/expanded-arrow.svg' : 'images/collapsed-arrow.svg'}}">
                                    <div class="section-title"> Response headers </div>
                                </div>
                                <div class="section-data-container" ng-show="areResponseHeadersExpanded">
                                    <div class="section-data" layout="row" ng-repeat="(key, value) in networkRequestDetails.responseHeaders">
                                        <span class="section-data-title header-name"> {{ key }}: </span>
                                        <span class="section-data-value" flex> {{ value }} </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Response headers -->
                            <div class="header-section">
                                <div class="section-title-row no-outline" layout="row" layout-align="start center" ng-click="toggleRequestHeaders()">
                                    <img class="section-title-arrow" ng-src="{{areRequestHeadersExpanded ? 'images/expanded-arrow.svg' : 'images/collapsed-arrow.svg'}}">
                                    <div class="section-title"> Request headers </div>
                                </div>
                                <div class="section-data-container" ng-show="areRequestHeadersExpanded">
                                    <div class="section-data" layout="row" ng-repeat="(key, value) in networkRequestDetails.requestHeaders">
                                        <span class="section-data-title header-name"> {{ key }}: </span>
                                        <span class="section-data-value"> {{ value }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
