<span id="player-warning">
    <md-content layout="row" class="inaccessible-resources-warning-container">
        <span class="inaccessible-resources-warning-message">
            The session is recorded on localhost or a similar local environment.
            or pixel-perfect replay, switch to http.
        </span>
        <md-button layout="column" class="md-raised inaccessible-resources-warning-confirm-button"
            ng-click="switchToHttp()">
            Switch
        </md-button>
        <md-button layout="column" class="inaccessible-resources-warning-close-button" ng-click="closeWarning()">
            Close
        </md-button>
    </md-content>
</span>