<md-content class="player-container" fit-window>
    <md-content class="player-content-container" flex layout="row">
        <!-- Side controls -->
        <md-content layout="column" class="md-whiteframe-1dp steps-timeline-container" ng-hide="isSimpleUIMode">
            <user-identity-details user-identity-data="session.userIdentity" hide-mask="hideUserDetailsMask">
            </user-identity-details>
            <steps-timeline add-new-steps="addNewSteps" update-steps-timeline="updateStepsTimeline"
                on-selected-step="onSelectedActivity" select-next-step="selectNextStep" enable="enableStepsTimeline"
                disable="disableStepsTimeline" is-created="stepsTimelineIsCreated" loaded="stepsTimelineLoaded"
                handle-user-details-resize="handleUserDetailsResize" hide-mask="hideStepsTimelineMask">
            </steps-timeline>
        </md-content>

        <!-- Main controls -->
        <md-content class="player-container" layout="column" flex>
            <!-- Inaccessible resources -->
            <inaccessible-resources-warning layout="row" session-id="sessionId"></inaccessible-resources-warning>

            <div ng-show="isToolkitEnabled" layout="row" layout-align="start center" class="support-toolkit">
                <div layout="column" class="mode-container">
                    <div layout="row">
                        <span class="mode-label" ng-show="isCollaborativeMode">Collaborative Mode</span>
                        <button class="exit-mode no-outline" ng-show="isCollaborativeMode"
                            ng-click="exitCollaborativeMode()" layout="column" layout-align="start center">
                            <img src="images/exit.svg">
                        </button>
                    </div>
                </div>
                <div layout="column" class="tools" layout-align="center start" flex-offset-sm="15" flex-offset-md="20"
                    flex-offset-lg="30" flex-offset-xl="33">
                    <div layout="row" layout-align="center center">
                        <div layout="column" layout-align="center center" class="tool no-outline"
                            ng-class="{'active': activeTool === CURSOR}" ng-click="toggleTool(CURSOR)">
                            <md-tooltip class="hide-tooltip-pointer">Pointer</md-tooltip>
                            <div class="icon-container">
                                <img class="icon" src="images/arrow-outlined.svg">
                                <img class="icon filled-icon" src="images/arrow-filled.svg">
                            </div>
                        </div>
                        <div layout="column" layout-align="center center" class="tool no-outline"
                            ng-class="{'active': activeTool === PEN}" ng-click="toggleTool(PEN)">
                            <md-tooltip class="hide-tooltip-pointer">Pen</md-tooltip>
                            <div class="icon-container">
                                <img class="icon" src="images/pen-outlined.svg">
                                <img class="icon filled-icon" src="images/pen-filled.svg">
                            </div>
                        </div>
                        <div ng-show="isControlTakeoverEnabled" layout="column" layout-align="center center"
                            class="tool no-outline"
                            ng-class="{'active': activeTool === CONTROL_TAKEOVER, 'denied': endUserDeniedControlTakeOver}"
                            ng-click="toggleTool(CONTROL_TAKEOVER)">
                            <md-tooltip class="hide-tooltip-pointer">Control takeover</md-tooltip>
                            <div class="icon-container" layout="row" layout-align="center center"
                                ng-class="{'blink': endUserPermissionAwaiting}">
                                <div>
                                    <img class="icon" src="images/hand-outlined.svg"
                                        ng-class="{'hidden': endUserDeniedControlTakeOver}">
                                    <img class="icon filled-icon" src="images/hand-filled.svg"
                                        ng-class="{'hidden': endUserDeniedControlTakeOver}">
                                    <img class="icon" src="images/hand-outlined-red.svg"
                                        ng-class="{'hidden': !endUserDeniedControlTakeOver}">
                                </div>
                                <div ng-if="endUserDeniedControlTakeOver" class="denied-message">
                                    Control declined. Ask again?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div layout="row" ng-if="url" layout-align="start center" class="player-url">
                <span class="truncate" text-selector>{{ url | decodeuri }}</span>
            </div>

            <div ng-show="isConfirmationVisible" class="collaborative-confirmation" layout="row"
                layout-align="center center">
                <div class="confirmation-message">You are about to enter collaborative mode. Use the toolbox to interect
                    with the user real-time.</div>
                <button class="confirm-button no-outline confirmation-button" ng-click="goToCollaborativeMode()">Ok,
                    go</button>
                <button class="cancel-button no-outline confirmation-button"
                    ng-click="cancelCollaborativeConfirmation()">Cancel</button>
            </div>

            <div class="player-pending-access-container" ng-if="!userPermissionRequest.isApproved()">
                <div class="centered" ng-switch="isUserOffline">
                    <span class="user-gone-offline" ng-switch-when="true">
                        <img src="images/offline-user.svg" />
                        <h3>The user is now offline.</h3>
                        <h3 ng-click="playUserRecordedSession()" class="offline-link no-outline">
                            Watch the latest recorded session for this user
                        </h3>
                    </span>
                    <request-user-access-dialog user-permission-request="userPermissionRequest" ng-switch-default>
                    </request-user-access-dialog>
                </div>
            </div>

            <!-- Session viewer -->
            <md-content layout="row" flex class="viewer-wrap">
                <div class="player-loader-container" ng-if="shouldShowLoadingOverlay">
                    <div class="player-loader">
                        <div class="loader"></div>
                        <div class="loader-footer">Loading</div>
                    </div>
                </div>
                <session-viewer resize ng-show="!errors.invalidSessionId && !errors.sessionNotFound"
                    max-width="containerWidth" max-height="containerHeight" class="viewer-container"
                    is-created="viewerIsCreated" rendering-progress="renderingProgress" session-id="sessionId"
                    handle-resize="handleResize" enable-toolkit="enableToolkit"
                    set-is-collaborative-mode="setIsCollaborativeMode" set-tool-is-active="setToolIsActive"
                    set-is-offline="setIsOffline" api="viewerApi" initial-settings="initialSettings"
                    update-url="updateUrl" play-user-recorded-session="playUserRecordedSession">
                </session-viewer>
                <div ng-show="errors.sessionNotFound" layout="column" layout-align="center center" flex>
                    <i class="icon ion-android-alert ion-icon"></i>
                    <h4> Session not found </h4>
                    <span>This session is no longer available. It鈥檚 been deleted or has already expired.</span>
                </div>
                <div ng-show="errors.invalidSessionId" layout="column" layout-align="center center" flex>
                    <i class="icon ion-android-alert ion-icon"></i>
                    <h4> Invalid Session </h4>
                    <span> The URL is not valid. If you entered it manually, please check your spelling and try again.
                    </span>
                </div>
            </md-content>

            <!-- Timeline -->
            <md-content layout="row" class="player-controls-container player-controls">
                <md-button ng-show="!hasFinished || isStreamingLive" class="player-controls-button"
                    ng-disabled="!arePlayerButtonsEnabled" ng-click="togglePlaying()" aria-label="Toggle play/pause"
                    ng-switch="(isPlaying || isStreamingLive)">
                    <img src="images/pause.svg" ng-switch-when="true">
                    <img src="images/play.svg" ng-switch-when="false">
                </md-button>
                <md-button ng-show="hasFinished && !isStreamingLive" class="player-controls-button" ng-click="repeat()"
                    aria-label="Repeat">
                    <img src="images/repeat.svg">
                </md-button>
                <md-button class="player-controls-button" ng-disabled="!arePlayerButtonsEnabled"
                    ng-click="selectNextStep()" aria-label="Next step">
                    <md-tooltip md-direction="top"> Next step </md-tooltip>
                    <img src="images/next.svg">
                </md-button>

                <span ng-switch="getLiveState()" ng-if="showGoLiveButton">
                    <span ng-switch-when="streaming">
                        <md-button class="player-controls-button live" disabled aria-label="Live">
                            <img src='images/live.svg'> Live
                        </md-button>
                    </span>
                    <span ng-switch-when="online">
                        <md-button class="player-controls-button go-live" ng-click="goLive()" aria-label="Watch Live">
                            <img src='images/go-live.svg'> Go Live
                        </md-button>
                    </span>
                    <span ng-switch-when="offline">
                        <md-button class="player-controls-button offline" disabled aria-label="Offline">
                            <img src='images/offline.svg'> Offline
                        </md-button>
                    </span>
                </span>

                <div layout="column" flex>
                    <player-timeline value="timelineValue" selected-value="timelineSelectedValue"
                        value-selection-in-progress="isTimelineSelectionInProgress" max="timelineMax"
                        is-dirty="isTimelineDirty" refresh="refreshTimeline" enable="enableTimeline"
                        disable="disableTimeline" is-created="timelineIsCreated" pause-activity="pauseActivity"
                        is-live="isLive">
                    </player-timeline>
                </div>
                <md-menu md-position-mode="target-right bottom" md-theme="sessionStackBlueTheme"
                    class="player-aside-controls">
                    <div>
                        <md-button class="player-controls-button md-button md-small-button console-button"
                            ng-class="isConsoleExpanded ? 'expanded' : ''" ng-click="toggleConsole()"
                            ng-disabled="!session">
                            <md-tooltip md-direction="top"> Console </md-tooltip>
                            <img src="images/console.svg">
                        </md-button>

                        <session-download-button md-menu-align-target
                            class="player-controls-button md-button md-small-button" session-id="session.id"
                            ng-show="PLAYER_ONLINE_MODE">
                            <md-tooltip md-direction="top"> Download session </md-tooltip>
                            <img src="images/download.svg">
                        </session-download-button>

                        <md-button ng-disabled="!arePlayerButtonsEnabled" ng-click="showSessionDetails(session)"
                            class="player-controls-button md-button md-small-button">
                            <md-tooltip md-direction="top"> Session details </md-tooltip>
                            <img src="images/details.svg">
                        </md-button>

                        <md-button md-menu-origin
                            class="player-controls-button md-button md-small-button player-settings"
                            ng-click="$mdOpenMenu($event)" aria-label="Menu" ng-disabled="!session">
                            <md-tooltip md-direction="top"> Settings </md-tooltip>
                            <img src="images/settings.svg">
                        </md-button>
                    </div>
                    <md-menu-content class="card player-menu" width="6">
                        <md-label>Speed</md-label>
                        <md-menu-item layout-padding>
                            <md-radio-group ng-model-options="{ getterSetter: true }"
                                ng-model="settings.playback.speedOption" md-no-ink>
                                <span ng-repeat="speedOption in speedOptions">
                                    <md-radio-button ng-value="speedOption">
                                        {{ speedOption.label }}
                                    </md-radio-button>
                                </span>
                            </md-radio-group>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-switch class="md-primary" ng-model="settings.playback.shouldSkipProlongedInactivity"
                                aria-label="Skip prolonged inactivity">
                                Skip prolonged inactivity
                            </md-switch>
                        </md-menu-item>
                        <md-menu-item>
                            <md-switch class="md-primary" ng-model="settings.playback.shouldVisualizeClicks"
                                aria-label="Clicks visualization">
                                Clicks visualization
                            </md-switch>
                        </md-menu-item>
                        <md-menu-item>
                            <md-switch class="md-primary" ng-model="settings.playback.shouldPauseOnMarker"
                                aria-label="Pause when marker is reached">
                                Pause when marker is reached
                            </md-switch>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-content>

            <!-- Console -->
            <console open-console="openConsole" select-activity="selectActivity" close-console="closeConsole"
                is-expanded="isConsoleExpanded" add-new-logs="addNewLogs"
                add-new-network-requests="addNewNetworkRequests" on-selected-log="onSelectedActivity"
                update-console="updateConsole">
            </console>
        </md-content>
    </md-content>
</md-content>