<header class="top-nav">
    <div class="top-nav-inner">
        <div class="nav-header">
            <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="brand" target="_blank">
                <span class="brand-name">
                    前端数据异常采集系统
                    <!--<img src="/static/admin/images/logo.png" height="52px" alt="前端异常脚本检测系统">-->
                </span>
            </a>
        </div>

    </div>
</header>

<aside class="sidebar-menu fixed">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li class="bg-palette1 active">
                    <a href="index.html">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
										<span class="text m-left-sm">主页</span>
									</span>
                        <span class="menu-content-hover block">主页</span>
                    </a>
                </li>

                <li class="bg-palette2">
                    <a href="/admin/app.html">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-cogs fa-lg"></i></span>
										<span class="text m-left-sm">应用管理</span>
									</span>
                        <span class="menu-content-hover block">
										应用管理
									</span>
                    </a>
                </li>
                <li class="bg-palette2">
                    <a href="/admin/script.html">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
										<span class="text m-left-sm">脚本异常</span>
									</span>
                        <span class="menu-content-hover block">
										脚本异常
									</span>
                    </a>
                </li>
                <li class="bg-palette2">
                    <a href="/admin/collection.html">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-windows fa-lg"></i></span>
										<span class="text m-left-sm">数据采集</span>
									</span>
                        <span class="menu-content-hover block">
										数据采集
									</span>
                    </a>
                </li>
                <li class="bg-palette2">
                    <a href="/admin/perf.html">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-users fa-lg"></i></span>
										<span class="text m-left-sm">性能分析</span>
									</span>
                        <span class="menu-content-hover block">
										性能分析
									</span>
                    </a>
                </li>
                <!--
                <li class="bg-palette2">
                    <a href="/admin/install">
									<span class="menu-content block">
										<span class="menu-icon"><i class="block fa fa-times-circle fa-lg"></i></span>
										<span class="text m-left-sm">初始化安装</span>
									</span>
                        <span class="menu-content-hover block">
										初始化安装
									</span>
                    </a>
                </li>
                -->

            </ul>
        </div>
    </div>
</aside>