<div>
    <session-player session="session"
                    activities="activities"
                    start-time="startTime"
                    autostart="autostart"
                    selected-log-id="selectedLogId"
                    pause-activity="pauseActivity"
                    request-progress="requestProgress"
                    is-live="isLive"
                    session-was-initially-live="sessionWasInitiallyLive"
                    settings="settings"
                    errors="errors"
                    api="sessionPlayerApi"
                    is-catching-up-with-live="isCatchingUpWithLive">
    </session-player>
</div>
