<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>apm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/morris.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/simplify.min.css" rel="stylesheet">

    <style>
        .popover {
            max-width: 700px;
        }
        .popover-content {white-space: nowrap;}
    </style>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
<% include common/silder-menu.html %>

    <div class="main-container">

        <div class="padding-md">

            <div class="smart-widget widget-dark-blue">
                <div class="smart-widget-header">
                   应用列表
                    <span class="smart-widget-option">
                    <a href="app/add"><i class="fa fa-desktop"></i> 添加应用</a>
                </span>
                </div>
                <div class="smart-widget-inner">

                    <div class="smart-widget-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>应用名称</th>
                                <th>应用标识</th>
                                <th style="min-width: 510px">代码</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% data.data.forEach(function(item){ %>
                            <tr>
                                <td><%=item.name%></td>
                                <td><%=item.apiKey%></td>
                                <td><input class="form-control" type="text" value="&lt;script src=&quot;http://<%=http.host%>/tongji.js&quot; data-apikey=&quot;<%=item.apiKey%>&quot;&gt;&lt;/script&gt;"></td>
                                <td>
                                    <!--<a class="label label-info code" data-toggle="popover" data-placement="left" title="复制代码" data-content="" href="#?id=<%= item.id %>">查看代码</a>-->
                                    <a class="btn btn-info btn-xs" href="/admin/app/edit.html?id=<%= item.id %>"><i class="fa fa-pencil"></i> 修改</a>
                                    <a class="btn btn-danger btn-xs delete" href="/admin/app/delete.html?id=<%= item.id %>"><i class="fa fa-trash-o"></i> 删除</a>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>

                        <ul class="pagination">
                            <% for(var i=1;i<=data.totalPages;i++){
                            if(data.currentPage == i) {
                            %>
                            <li class="active"><a href="javascript:;"><%=i%></a></li>
                            <%    } else { %>
                            <li><a href="?num=<%=i%>"><%=i%></a></li>
                            <% } %>
                            <% } %>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">APM</strong>
				</span>

        <p class="no-margin">
            &copy; 2016 <strong>APM</strong>. ALL Rights Reserved.
        </p>
    </footer>
</div>

<% include common/footer.html %>

<script src="/static/lib/jquery-1.11.1.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/jquery.slimscroll.min.js"></script>
<script src="/static/lib/jquery.easypiechart.min.js"></script>
<script src="/static/lib/jquery.flot.min.js"></script>
<script src="/static/lib/jquery.localScroll.min.js"></script>
<script src="/static/lib/jquery.popupoverlay.min.js"></script>
<script src="/static/lib/jquery.scrollTo.min.js"></script>
<script src="/static/admin/js/simplify/simplify.js"></script>


<script>
    $('.code').on('show.bs.popover', function () {
        var $this = $(this);
        var key = $this.parent().siblings()[1].innerText;
        var domain = 'http://'+window.location.host;
        var script = '\<script src="'+domain+'/tongji.js" data-apikey="'+key+'"\>\<\/script\>';
//        var code = '<input type="text" value="'+script+'" />';
        $this.attr('data-content',script)
    })

</script>
</body>
</html>
