<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>apm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/morris.css" rel="stylesheet"/>
    <link href="/static/css/animate.min.css" rel="stylesheet">

    <link href="/static/admin/css/simplify.min.css" rel="stylesheet">

    <script src="/static/lib/jquery-1.11.1.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
<% include common/silder-menu.html %>

    <div class="main-container">

        <div class="padding-md">

            <div class="smart-widget widget-dark-blue">
                <div class="smart-widget-header">
                   数据列表
                </div>
                <div class="smart-widget-inner">

                    <div class="smart-widget-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>发生时间</th>
                                <th>请求地址</th>
                                <th>查看</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% data.forEach(function(item){ %>
                            <tr>
                                <td></td>
                                <td><%=item.cb%></td>
                                <td><%=item.url%></td>
                                <td><a class="label label-warning" href="#?id=<%= item.id %>">详情</a></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">APM</strong>
				</span>

        <p class="no-margin">
            &copy; 2016 <strong>APM</strong>. ALL Rights Reserved.
        </p>
    </footer>
</div>


<script src="/static/lib/jquery.slimscroll.min.js"></script>
<script src="/static/lib/jquery.easypiechart.min.js"></script>
<script src="/static/lib/jquery.flot.min.js"></script>
<script src="/static/lib/jquery.localScroll.min.js"></script>
<script src="/static/lib/jquery.popupoverlay.min.js"></script>
<script src="/static/lib/jquery.scrollTo.min.js"></script>
<script src="/static/admin/js/simplify/simplify.js"></script>
</body>
</html>
