<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>apm - 前端数据异常采集系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="stbui.com">
    <% include common/style.html %>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
<% include common/silder-menu.html %>

    <div class="main-container">

        <div class="padding-md">

            <div class="smart-widget widget-dark-blue">
                <div class="smart-widget-header">
                   数据列表
                </div>
                <div class="smart-widget-inner">

                    <div class="smart-widget-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>发生时间</th>
                                <th>请求地址</th>
                                <th>查看</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% data.data.forEach(function(item){ %>
                            <tr>
                                <td></td>
                                <td><%=item.cb%></td>
                                <td><%=item.url%></td>
                                <td><a class="btn btn-primary btn-xs" href="#?id=<%= item.id %>"><i class="fa fa-link"></i> 详情</a></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>

                        <ul class="pagination">
                            <% for(var i=1;i<=data.totalPages;i++){
                            if(data.currentPage == i) {
                            %>
                            <li class="active"><a href="javascript:;"><%=i%></a></li>
                            <%    } else { %>
                            <li><a href="?num=<%=i%>"><%=i%></a></li>
                            <% } %>
                            <% } %>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">APM</strong>
				</span>

        <p class="no-margin">
            &copy; 2016 <strong>APM</strong>. ALL Rights Reserved.
        </p>
    </footer>
</div>

<% include common/script.html %>
</body>
</html>
