<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>apm - 前端数据异常采集系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="stbui.com">
    <% include common/style.html %>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
    <% include common/silder-menu.html %>

    <div class="main-container">

        <div class="padding-md">

            <div class="row">
                <% data.forEach(function(item){ %>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center bg-primary text-white padding-lg">
                            <i class="block fa fa-desktop fa-lg" style="font-size:58px;"></i>
                        </div>
                        <div class="panel-footer bg-white">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <div class="h3 m-top-sm"><%=item.error%></div>
                                    <div class="text-muted">异常</div>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <div class="h3 m-top-sm"><%=item.ajax%></div>
                                    <div class="text-muted">数据</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>

    </div>

    <footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">APM</strong>
				</span>

        <p class="no-margin">
            &copy; 2016 <strong>APM</strong>. ALL Rights Reserved.
        </p>
    </footer>
</div>

<% include common/script.html %>
</body>
</html>
