//==========
button.button::-moz-focus-inner {
    border: 0;
}

.button {
    letter-spacing: 0.01em;
    display: inline-block;
    position: relative;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: 0 0;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// ===

.player-controls {
    height: 42px;
    min-height: 42px;
    background: #2e3440 !important;
    color: #6f6f6f !important;
    z-index: 3;
    overflow: visible;

    position: relative;
}

.player-controls-icon {
    color: #fff !important;
    font-size: 30px;
}

.player-controls-button {
    margin: 3px;
    min-width: 30px;
    height: 30px;
    background-color: #363d4b;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    min-width: 38px !important;
    height: 34px !important;
    line-height: 34px !important;
    text-transform: none !important;
    font-size: 11px !important;
}

.player-controls-button:hover {
    background-color: #4a5261;
}

.player-aside-controls {
    font-size: 0;
}

.player-aside-controls .console-button.expanded {
    background-color: #00cc83;
}

.player-aside-controls .console-button.expanded svg {
    fill: #ffffff;
}

.player-aside-controls .console-button.expanded:hover {
    background-color: #00e895;
}

.icon-pause {
    display: inline-block;
    width: 14px;
    height: 16px;
    background-image: url('./pause.svg');
}

.icon-play {
    display: inline-block;
    width: 14px;
    height: 16px;
    background-image: url('./play.svg');
}

.icon-repeat {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./repeat.svg');
}

.icon-next {
    display: inline-block;
    width: 18px;
    height: 19px;
    background-image: url('./next.svg');
}

.icon-live {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('./live.svg');
}

.icon-live-red {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('./live-red.svg');
}

.icon-offline {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('./offline.svg');
}
