<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>apm</title>

</head>
<body>
&lt;script src="http://apm.431103.com/tongji.js" data-apikey="61e19fe93e5dcd255178a9b94d12c2cf"&gt;&lt;/script&gt;
<script src="http://apm.431103.com/tongji.js" data-autoNotify="true" data-apikey="61e19fe93e5dcd255178a9b94d12c2cf"></script>

function createScript(){
var script =  document.createElement('script');
script.type='text/script';
script.scr='http://apm.431103.com/tongji.js';
script.setAttribute('data-apiKey','61e19fe93e5dcd255178a9b94d12c2cf');
script.setAttribute('data-autoNotify','true');

document.getElementsByTagName("head")[ 0 ].appendChild(script);
}

</body>
</html>